* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #682847;
    color: #ffffff;
    font-family: "Times New Roman", serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}


